<footer class="bg-trustworth-green">
    <div class="max-w-6xl mx-auto px-4 py-6">
      <div class="text-center">
        <div>
          <p class="text-white text-sm text-center">
            2023 <strong>Trustworthy Bank Credit Recommender</strong> - All Rights Reserved.
          </p>
        </div>
        
        <div class="flex justify-center items-center">
          <a href="#" class="text-white hover:text-gray-900 mx-2">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            </svg>
          </a>
          <a href="#" class="text-white hover:text-gray-900 mx-2">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            </svg>
          </a>
        </div>
      </div>
      
      <div class="text-center text-white mt-4">
        <p>Made by Marc C. for Universitat Politècnica de Catalunya</p>
      </div>
    </div>
  </footer>
  