<!-- navbar.component.html -->
<nav class="bg-trustworth-green text-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-center items-center">
        <img src="assets/images/bank-logo.png" alt="Logo" class="h-24 w-24 mr-2">
        <div class="flex space-x-4">
          <!-- logo -->
          <div>
            <a href="" class="flex items-center py-5 px-2 text-white">
              <span class="font-semibold text-xl hover:text-gray-400">Credit Recommender </span>
            </a>
          </div>
          <!-- primary nav -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="" class="py-5 px-3 text-white hover:text-gray-400">Home</a>
            <a href="Requests" class="py-5 px-3 text-white hover:text-gray-400">Requests</a>
            <a href="NewRequest" class="py-5 px-3 text-white hover:text-gray-400">New Request</a>
            <a href="#" class="py-5 px-3 text-white hover:text-gray-400">Pricing</a>
            <a href="#" class="py-5 px-3 text-white hover:text-gray-400">Contact</a>
          </div>
        </div>
        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <!-- other links or buttons can be added here -->
        </div>
      </div>
    </div>
  </nav>
